## Part 1 Tutorial

Cover the basics, strings, integers, lists, dictionaries and some of the builtin library

## Basics

In [2]:
print('Hello World!')

Hello World!


## Integers

In [4]:
i = 9
print(i)

#addition
print(i+1)

#subtraction
print(i-1)

#square
print(i**2)

#division
print(i/2)

#floor division
print(i//2)

#remainder
print(i%2)

9
10
8
81
4.5
4
1

In [10]:
a = 1
b = 2
print(a+b)
b = a
print(a+b)
a-=1
print(a)
print(b)

3
2
0
1

In [11]:
print(2>4)

False

In [71]:
1 == True

True

In [72]:
0 == False

True

In [12]:
#control structures

In [129]:
n = 10

for i in range(n):
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [23]:
list(range(0, 100,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [13]:
n = 1
while n < 10:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

## strings

In [15]:
string_var = 'once upon a time'
print(string_var)
#we can take just parts of the string
print(string_var[2:10])

once upon a time
ce upon

In [16]:

#finds location of where upon is in the var
print(string_var.find('upon'))
print(string_var[string_var.find('upon'):])

5
upon a time

In [19]:
print(string_var.upper())
print(string_var.title())
#reverse it
print(string_var[::-1])
#take every second value
string_var[::2]

ONCE UPON A TIME
Once Upon A Time
emit a nopu ecno

'oc pnatm'

In [20]:
'9'*3

'999'

In [153]:
for i in range(1, 19, 2):
    if i < 11:
        i = '*'*i
    else:
        i = '*'*(-i+18)
    print(i.center(10))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# lists

In [47]:
num_list = [1, 2, 3, 4, 5]
num_list

[1, 2, 3, 4, 5]

In [48]:
num_list[0]

1

In [49]:
num_list[0] = 10
num_list

[10, 2, 3, 4, 5]

In [50]:
num_list.append(100)
num_list

[10, 2, 3, 4, 5, 100]

In [51]:
print(num_list.pop())

100

In [52]:
num_list

[10, 2, 3, 4, 5]

In [53]:
num_list.sort()
num_list

[2, 3, 4, 5, 10]

# Use Case 1


Write a sql command that gets the counts values for a columns for a sequence of tables

In [45]:

table_list = ['admission', 'claim_diag', 'claim_detail']
column_list = ['data_source', 'year']

#f strings.

for table in table_list:
    for column in column_list:
        

        sql_query = f'''
        select {column}, count(*) from data_warehouse.{table} group by {column};
        '''
        print(sql_query)

        select data_source, count(*) from data_warehouse.admission group by data_source;


        select year, count(*) from data_warehouse.admission group by year;


        select data_source, count(*) from data_warehouse.claim_diag group by data_source;


        select year, count(*) from data_warehouse.claim_diag group by year;


        select data_source, count(*) from data_warehouse.claim_detail group by data_source;


        select year, count(*) from data_warehouse.claim_detail group by year;

In [48]:

table_list = ['admission', 'claim_diag', 'claim_detail']
column_list = ['data_source', 'year']

total_sql_query_list = []

for table in table_list:
    for column in column_list:

        sql_query = f'''select {column}, count(*) from data_warehouse.{table} group by {column};\n'''
        total_sql_query_list.append(sql_query)

total_sql_query_list

['select data_source, count(*) from data_warehouse.admission group by data_source;\n',
 'select year, count(*) from data_warehouse.admission group by year;\n',
 'select data_source, count(*) from data_warehouse.claim_diag group by data_source;\n',
 'select year, count(*) from data_warehouse.claim_diag group by year;\n',
 'select data_source, count(*) from data_warehouse.claim_detail group by data_source;\n',
 'select year, count(*) from data_warehouse.claim_detail group by year;\n']

In [44]:
with open('sql_script.sql', 'w') as f:
    f.writelines(total_sql_query_list)

In [50]:
#using itertools 

total_sql_query_list = []
permutations = itertools.permutations(table_list, len(column_list))

for perm in permutations:
    zipped = zip(perm, column_list)
    total_sql_query_list.append(list(zipped))
total_sql_query_list

[[('admission', 'data_source'), ('claim_diag', 'year')],
 [('admission', 'data_source'), ('claim_detail', 'year')],
 [('claim_diag', 'data_source'), ('admission', 'year')],
 [('claim_diag', 'data_source'), ('claim_detail', 'year')],
 [('claim_detail', 'data_source'), ('admission', 'year')],
 [('claim_detail', 'data_source'), ('claim_diag', 'year')]]

# Use Case #2

need to find all patients that have a combination of a list of diagnosis

In [51]:
import itertools
num_list = ['diabetes', 'asthma', 'scd', 'neurological']

temp = itertools.combinations(num_list, 2)
temp = list(temp)
print(temp)

[('diabetes', 'asthma'), ('diabetes', 'scd'), ('diabetes', 'neurological'), ('asthma', 'scd'), ('asthma', 'neurological'), ('scd', 'neurological')]

In [52]:

for i in temp:
    sql_string = f'select * from dev.test where condition_1 = "{i[0]}" and condition_2 = "{i[1]}";'
    print(sql_string)

select * from dev.test where condition_1 = "diabetes" and condition_2 = "asthma";
select * from dev.test where condition_1 = "diabetes" and condition_2 = "scd";
select * from dev.test where condition_1 = "diabetes" and condition_2 = "neurological";
select * from dev.test where condition_1 = "asthma" and condition_2 = "scd";
select * from dev.test where condition_1 = "asthma" and condition_2 = "neurological";
select * from dev.test where condition_1 = "scd" and condition_2 = "neurological";

# Use Case #3

someone gives you a list of icd codes that are in email...

Dear X,

I need a count of patients with the following icd codes

list of icd codes
410.00
410.01
410.10
410.11
410.20
410.21
410.30
410.31
410.40
410.41
410.50
410.51
410.60
410.61
410.70
410.71
410.80
410.81
410.90
410.91

In [66]:
#step one go ahead and copy 

icd_codes = '410.00 410.01 410.10 410.11 410.20 410.21 410.30 410.31 410.40 410.41 410.50 410.51 410.60 410.61 410.70 410.71 410.80 410.81 410.90 410.91'

icd_codes_list = icd_codes.split()
print(icd_codes_list)
edited_icd_list = []
for i in icd_codes_list:
    edited_icd_list.append("'"+i.replace('.','')+"'")

['410.00', '410.01', '410.10', '410.11', '410.20', '410.21', '410.30', '410.31', '410.40', '410.41', '410.50', '410.51', '410.60', '410.61', '410.70', '410.71', '410.80', '410.81', '410.90', '410.91']

In [67]:
print(edited_icd_list)
edited_icd_list = ", ".join(edited_icd_list)

["'41000'", "'41001'", "'41010'", "'41011'", "'41020'", "'41021'", "'41030'", "'41031'", "'41040'", "'41041'", "'41050'", "'41051'", "'41060'", "'41061'", "'41070'", "'41071'", "'41080'", "'41081'", "'41090'", "'41091'"]

In [68]:
#make sql

sql_string = f'''select * from data_warehouse.claim_diag where diag_cd in ({edited_icd_list});'''
sql_string

"select * from data_warehouse.claim_diag where diag_cd in ('41000', '41001', '41010', '41011', '41020', '41021', '41030', '41031', '41040', '41041', '41050', '41051', '41060', '41061', '41070', '41071', '41080', '41081', '41090', '41091');"

## List Comprehensions

In [69]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
[i for i in range(10) if i%2 ]

[1, 3, 5, 7, 9]

In [179]:
[[j*x for x in range(10)]for j in range(10)]

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

## Dictionary

key value store

In [158]:
example_dict = {'a':1, 'b': 2, 'c':3}
example_dict['a']

1

In [159]:
example_dict['b'] = 23
example_dict['b']

23

In [160]:
example_dict['a'] += 1
example_dict['a']

2

In [161]:
example_dict.keys()

dict_keys(['a', 'b', 'c'])

In [39]:
char_counter = {}
string_example = 'once upon a time there was a very special database'
for i in string_example:
    #if i is in the keys increment else make a new key and set to 1
    if i in char_counter.keys():
        char_counter[i] += 1
    else:
        char_counter[i] = 1
        
char_counter

{'o': 2,
 'n': 2,
 'c': 2,
 'e': 7,
 ' ': 9,
 'u': 1,
 'p': 2,
 'a': 7,
 't': 3,
 'i': 2,
 'm': 1,
 'h': 1,
 'r': 2,
 'w': 1,
 's': 3,
 'v': 1,
 'y': 1,
 'l': 1,
 'd': 1,
 'b': 1}

In [40]:
import collections
counter = collections.Counter(string_example)
counter

Counter({'o': 2,
         'n': 2,
         'c': 2,
         'e': 7,
         ' ': 9,
         'u': 1,
         'p': 2,
         'a': 7,
         't': 3,
         'i': 2,
         'm': 1,
         'h': 1,
         'r': 2,
         'w': 1,
         's': 3,
         'v': 1,
         'y': 1,
         'l': 1,
         'd': 1,
         'b': 1})

In [41]:
char_counter['x']

KeyError: 'x'

In [42]:
counter['x']

0

# Sets

In [30]:
set_a = {1,2,3}
set_b = {2,3,4,4}
print(set_b)

{1, 2, 3, 4}
{1, 4}

In [32]:
#union 
print(set_a.union(set_b))

{1, 2, 3, 4}

In [33]:
#symmetric difference
print(set_a^set_b)

{1, 4}

In [34]:
set_a.difference(set_b)

{1}

In [37]:
set_c = {1}

set_c.issubset(set_a)

True